html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
body,
p,
h1,
h2,
h2,
h4 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 10px;
  max-width: 1220px;
  margin: 0 auto;
}
.content-item {
  display: none;
}
.content-item.content-item--active {
  display: inline-block;
}
.header {
  min-height: 100vh;
  position: relative;
}

.header__top {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 0 40px;
  align-items: center;
  font-weight: 700;
}

.menu__btn {
  padding: 15px 58px;
  border-radius: 30px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.header__content-images::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
}
.header__content-images:has(.color--black.content-item--active)::before {
  background: linear-gradient(180deg, #858485 0%, rgba(255, 255, 255, 0) 100%);
}
.header__content-images:has(.color--red.content-item--active)::before {
  background: linear-gradient(180deg, #f6deda 0%, rgba(255, 255, 255, 0) 100%);
}
.header__content-images:has(.color--green.content-item--active)::before {
  background: linear-gradient(180deg, #e0eedd 0%, rgba(255, 255, 255, 0) 100%);
}
.header__content-images:has(.color--blue.content-item--active)::before {
  background: linear-gradient(180deg, #c3d5e6 0%, rgba(255, 255, 255, 0) 100%);
}

.header__content-images {
  text-align: center;
  padding-bottom: 20px;
}

.title {
  font-size: 200px;
  font-weight: 700;
  position: absolute;
  padding-top: 25px;
}
.title span {
  opacity: 0.8;
}
.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(10px, 330px);
}

.title--ax {
  display: inline-block;
  transform: translate(-100px, 530px);
  position: relative;
  z-index: -1;
}

.choose-color {
  padding: 45px 0 180px;
  text-align: center;
}

.choose-color__title {
  font-size: 36px;
  font-weight: 700;
  max-width: 555px;
  margin: 0 auto 20px;
}

.choose-color__text {
  max-width: 555px;
  margin: 0 auto 40px;
  font-size: 16px;
  font-weight: 500;
}
.choose-color__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.choose__color-btn {
  padding: 25px 35px;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
  transition-duration: 500ms;
}
.choose__color-btn:hover {
  background-color: #fbfbfb;
  border-style: dotted;
}
.choose__color-btn--active {
  display: none;
}

.composition__inner {
  margin: 0 auto;
  max-width: 653px;
  display: flex;
  justify-content: space-between;
}
.composition__title {
  margin-bottom: 40px;
}
.main__title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
.composition {
  margin-bottom: 100px;
}
.composition__text {
  max-width: 653px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.composition__inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.composition__inner-text p {
  max-width: 230px;
}

.case {
  padding: 50px 0 150px;
  background-color: #fafafa;
  text-align: center;
}
.case__title {
  margin-bottom: 20px;
}
.case__text {
  max-width: 825px;
  margin: 0 auto 40px;
}

.energy__title {
  margin: 160px auto 20px;
}
.energy__num {
  font-size: 220px;
  font-weight: 700;
  margin-bottom: 20px;
}
.energy__text {
  max-width: 403px;
  margin: 0 auto;
}

.audio {
  background-image: url(../images/audio-black.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;
}
.audio::before {
  content: '';
  position: absolute;
  background-image: url(../images/sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  width: 100%;
  bottom: -280px;
  left: 0;
  right: 0;
  height: 200vh;
}
.audio__inner {
  min-height: 200vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.audio__box {
  padding-bottom: 30vh;
}
.audio__text {
  max-width: 300px;
  text-align: center;
  margin-bottom: 15px;
}
.btn {
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  font-weight: 700;
  padding: 15px 58px;
  border-radius: 30px;
  margin-top: 25px;
  position: relative;
}

.footer {
  padding: 330px 0 30px;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.footer__text {
  margin: 20px 0 40px;
}

.footer__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
